<h1>Listing Terms</h1>

<% @terms.group_by(&:year).each do |year, terms| %>
  <h2><%= year %></h2>

  <%= render terms.sort_by(&:dtstart) %>
<% end %>

<%= link_to 'New Term', new_term_path if can? :create, Term %>
