<% if current_user %>
  <li><%= link_to "#{current_user.id}: Logout", logout_path(referrer: root_path) %></li>

  <% if can? :manage, Spreadsheet %>
    <li><%= link_to 'Export Hours', spreadsheet_libraries_url %></li>
    <li><%= link_to 'Import Hours', new_spreadsheet_url %></li>
  <% end %>
<% end %>
<li>
  <%= link_to 'Feedback', feedback_path, data: { toggle: 'collapse', target: '#feedback-form' } %>
</li>
