<nav id="skip-link" role="navigation" aria-label="Skip links">
  <a
    class="visually-hidden-focusable rounded-bottom m-1 py-2 px-3"
    href="#main-container"
  >
    Skip to main content
  </a>
</nav>

<header>
  <div class="container">
    <a class="su-brand-bar__logo" href="https://www.stanford.edu">
      Stanford University
    </a>
  </div>

  <nav class="navbar navbar-expand-md bg-dark" role="navigation">
    <div class="container">
      <a
        class="mb-0 navbar-brand navbar-logo"
        href="https://library.stanford.edu"
      >
        Stanford University Libraries
      </a>

      <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-toggle="collapse"
        data-bs-toggle="collapse"
        data-target="#user-util-collapse"
        data-bs-target="#user-util-collapse"
        aria-controls="user-util-collapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="d-md-block d-none">
        <ul class="navbar-nav"><%= render 'shared/nav_link_list' %></ul>
      </div>
    </div>
  </nav>

  <div class="masthead bg-dark">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8 d-flex justify-content-center justify-content-md-start">
          <h1 class="my-3"><a href="/">Library Hours</a></h1>
        </div>
      </div>

      <div
        class="navbar collapse navbar-collapse bg-dark"
        id="user-util-collapse"
      >
        <ul class="navbar-nav">
          <%= render 'shared/nav_link_list', additional_classes: 'd-md-none' %>
        </ul>
      </div>
    </div>
  </div>
</header>

<% unless current_page? feedback_path %>
  <dialog id="feedback-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fw-normal">Send Feedback</h2>

        <button
          type="button"
          class="btn-close"
          onclick="this.closest('dialog').close();"
          aria-label="Close"
        ></button>
      </div>

      <div class="bg-dark-subtle py-1 px-4 border-top">
        Reporting from
        <span class="reporting-from-field"><%= request.original_url %></span>
      </div>

      <div class="modal-body"><%= render "shared/feedback_forms/form" %></div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-primary me-2 close"
          onclick="this.closest('dialog').close();"
        >
          Close
        </button>

        <button type="submit" form="feedback-form" class="btn btn-primary">
          Send
        </button>
      </div>
    </div>
  </dialog>
<% end %>
