<nav id="skip-link" class="visually-hidden-focusable" aria-label="Skip links">
  <div class="container-xl">
    <a class="d-inline-flex m-1 py-2 px-3" href="#main-container">Skip to main content</a>
  </div>
</nav>

<header>
  <div class="identity-bar">
    <div class="container">
      <a class="su-brand-bar__logo" href="https://www.stanford.edu">Stanford University</a>
    </div>
  </div>

  <nav class="navbar navbar-expand-md bg-dark sky-dark">
    <div class="container">
      <a class="mb-0 navbar-brand navbar-logo" href="https://library.stanford.edu" aria-label="Stanford University Libraries"></a>
      <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#user-util-collapse" data-bs-target="#user-util-collapse" aria-controls="user-util-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="d-md-block d-none">
        <ul class="navbar-nav"><%= render 'shared/nav_link_list' %></ul>
      </div>
    </div>
  </nav>

  <div class="masthead bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-end pt-3 pb-1 pb-md-3 gap-2">
        <div class="d-flex align-items-end gap-2 flex-grow-1">
          <span class="rosette-logo me-1 align-self-start flex-shrink-0" aria-hidden="true"></span>
          <div class="me-1 flex-grow-1">
            <div class="h1 my-0">
              <a href="/">Library Hours</a>
            </div>
          </div>
        </div>

        <div class="navbars ms-md-auto bg-dark">
          <nav class="collapse navbar-collapse align-items-start justify-content-md-end navbar-expand-md d-md-flex flex-column flex-md-row" aria-label="browse" id="user-util-collapse">
            <hr class="d-md-none text-white vw-100 my-0">
            <ul class="navbar-nav justify-content-md-end gap-0 gap-md-4 w-100 fw-semibold">
              <%= render 'shared/nav_link_list', additional_classes: 'd-md-none' %>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <% unless current_page? feedback_path %>
    <div id="feedback-form" class="feedback-form-container collapse">
      <%= render "shared/feedback_forms/form" %>
    </div>
  <% end %>
</header>
