<div class="jumbotron">
  <h1>Import Library Hours</h1>
  <%= link_to 'Download CSV', libraries_url(format: 'csv'), class: 'btn btn-link pull-right' %>
  <p><%= link_to 'Import CSV', new_spreadsheet_url, class: 'btn btn-primary btn-lg' %></p>
</div>