<% title "Edit #{@library.name}" %>
<% breadcrumb @library %>

<h1>Editing Library</h1>

<%= render 'form' %>

<%= link_to 'Show', @library, class: 'su-underline' %> |
<%= link_to 'Back', libraries_path, class: 'su-underline' %>
