// Entry point for your Sass build

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import 'variables';
@import 'bootstrap/scss/bootstrap';
@import 'library_hours';
@import 'global_alert';

.editable-error-block {
  // position: absolute;
  color: #fff;
  z-index: 1000;
}

.library-row {
  border-bottom: 1px dotted $gray-base;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.library-row:last-child {
  border-bottom: none;
}

.library-row h2 a {
  text-underline-position: auto;
}

.library-row .table {
  --bs-table-border-color: var(--stanford-30-black);
}

header {
  --bs-dark-rgb: 130, 0, 0;
}
