@import url("variables.css");
@import url("library_hours.css");
@import url('global_alert.css');

.dropdown-menu {
  h4 {
    font-weight: 400;
    padding: 0.1875rem 1.25rem;
  }

  .divider:last-child {
    display: none;
  }
}

.editable-error-block {
  /* position: absolute; */
  color: #fff;
  z-index: 1000;
}

.library-row {
  border-bottom: 1px dotted #000;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.library-row:last-child {
  border-bottom: none;
}

.library-row h2 a {
  text-underline-position: auto;
}

.library-row .table {
  --bs-table-border-color: var(--stanford-30-black);
}

header {
  --bs-dark-rgb: 130, 0, 0;
}
