@import url("variables.css");
@import url("library_hours.css");
@import url("global_alert.css");

.dropdown-menu {
  h4 {
    font-weight: 400;
    padding: 0.1875rem 1.25rem;
  }

  .divider:last-child {
    display: none;
  }
}

.editable-error-block {
  /* position: absolute; */
  color: #fff;
  z-index: 1000;
}

.library-row {
  border-bottom: 1px dotted #000;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.library-row:last-child {
  border-bottom: none;
}

.library-row h2 a {
  text-underline-position: auto;
}

.library-row .table {
  --bs-table-border-color: var(--stanford-30-black);
}

header {
  --bs-dark-rgb: 130, 0, 0;
}

dialog#feedback-modal {
  --bs-modal-header-padding: 1rem;
  --bs-modal-padding: 1rem;
  z-index: 10;

  border: none !important;
  border-radius: 0.3125rem;
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0 25px 50px -12px rgba(0, 0, 0, 0.25);
  padding: 0;
  max-width: 800px;

  h2 {
    font-size: 1.5rem;
  }
  .modal-footer {
    padding: var(--bs-modal-padding);
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
