a {
  &.disabled {
    color: #ccc;
    cursor: not-allowed;
    text-decoration: none;
  }
}

a:hover, a:focus {
  border-bottom: 1px dotted $sul-link-color-border;
  text-decoration: none;
}

h4 {
  font-weight: 400;
}

dl {
  margin-bottom: 15px;
}

dt {
  color: $gray-41-percent;
  font-size: 0.9em;
  font-weight: normal;
  padding-right: 1em;
  padding-top: 0.15em;
  text-transform: uppercase !important;
  width: 12em;
}

dd {
  margin-bottom: 0.5em;
  margin-left: 2em;
  max-width: 45em;
}

label {
  font-weight: normal;
}

button:focus,
embed:focus,
input:focus,
object:focus,
select:focus,
textarea:focus {
  @include focus-outline;
}

#main-container {
  padding-bottom: $form-group-margin-bottom;
}

.location-and-access:before {
  padding-right: 1ch;
}