// Import all individual stylesheets here
@import 'base';
@import 'layout';

@import 'top-navbar';
@import 'sul-footer';

.closed,
.open-24h {
  color: $gray-light;
}

td.location-name,
th.location-name {
  width: 200px;
}

td.hours,
th.hours {
  width: 100px;
}

td.exceptions,
th.holiday {
  background-color: $alert-danger-bg;
}

#jump-term,
#jump-term-group {
  width: 100%;

  .dropdown-menu {
    height: 250px;
    overflow-y: auto;
    width: 100%;
  }
}