// Import all individual stylesheets here
@import 'base';
@import 'layout';

@import 'top-navbar';
@import 'sul-footer';

.date-range {
  h2 {
    color: $link-color;
    display: inline-block;
    margin: 0 3ch;
    padding-top: 0.5em;
  }
  
  padding-bottom: 5px;
  padding-top: 5px;
  
  
  @media (max-width: 768px) {
    .date-pagination {
      margin-bottom: 1em;
    }
  }
}
.closed {
  color: #dd2121;
}

.open-24h {
  color: #009b76;
}

td.location-name,
th.location-name {
  width: 200px;
}

td.hours,
th.hours {
  width: 100px;
}

td.exceptions {
//  @extend .alert-info;
}

td.holiday,
th.holiday {
  @extend .alert-danger;
}

th small {
  font-size: 70%;
}