.date-range {
  @media (min-width: 576px) {
    .date-input {
      padding-right: (var(--bs-spacer) * 0.75);
    }
  }

  h4 {
    padding: 0 var(--bs-spacer);
  }

  @media (max-width: 575.98px) {
    h4 {
      /* same ps py-2 in BS4 */
      padding: 0;
    }

    .pager {
      justify-content: center;
    }
  }
}

.closed {
  color: var(--stanford-digital-red);
}

.open-24h {
  color: var(--stanford-digital-blue);
}

td.location-name,
th.location-name {
  font-weight: 600;
  width: 200px;
}

td.hours,
th.hours {
  width: 100px;
  padding: 0.5rem;
}

th.location-name,
th.hours {
  border-top: none;
}

/* td.exceptions {
  @extend .alert-info;
} */

td.holiday,
th.holiday {
  color: var(--bs-danger-text);
  background-color: var(--bs-danger-bg);
  border-color: var(--bs-danger-border);
}

th small {
  font-size: 70%;
}

/* Override editable library background images */
.editableform-loading,
.editable-clear-x {
  background: none !important;
}

.alert-link {
  text-decoration: underline;
}

.table .holiday {
  background-color: var(--stanford-fog-light);
  font-weight: var(--bs-font-weight-semi-bold);
}
