// Import all individual stylesheets here
@import 'base';
@import 'layout';

@import 'top-navbar';
@import 'sul-footer';


.date-range {
  background-color: $well-bg;

  @include media-breakpoint-up(sm) {
    .date-input {
      padding-right: ($spacer * .75);
      .form-control:focus {
        border-color: $color-digital-blue-dark;
        box-shadow: none;
      }
    }
  }

  h2 {
    padding: 0 $spacer;
    font-size: 22px;
  }

  @include media-breakpoint-down(xs) {
    h2 {
      // same ps py-2 in BS4
      padding: 0 ($spacer * .5);
    }

    .pager {
      justify-content: center;
    }
   }
}

.btn-outline-secondary {
  color: $color-black;
}

.closed {
  color: $color-light-red;
}

.open-24h {
  color: #009b76;
}

td.location-name,
th.location-name {
  width: 200px;
}

td.hours,
th.hours {
  width: 100px;
  padding: .5rem;
}

th.location-name,
th.hours {
  border-top: none;
}

td.exceptions {
//  @extend .alert-info;
}

td.holiday,
th.holiday {
  @extend .alert-danger;
}

th small {
  font-size: 70%;
}

.well a {
  color: $well-link;
}

// Override editable library background images
.editableform-loading, .editable-clear-x {  
  background: none !important;  
}

.alert-link {
  text-decoration: underline;
}
