
// Extracted from:
//   https://github.com/sul-dlss/sul_styles/blob/master/app/assets/stylesheets/sul-styles/su_web_colors.scss
//   https://github.com/sul-dlss/sul_styles/blob/master/app/assets/stylesheets/sul-styles/su_primary_colors.scss
$color-cardinal-red: #8c1515;
$color-digital-red: #B1040E;
$color-dark-red: #820000;
$color-light-red: #E50808;
$color-gray: #3f3c30;
$color-black: #2E2D29;
$color-beige-30: #e3dfd5;
$color-beige-20: #e9e6df;
$color-beige-10: #f2f1eb;
$color-beige-05: #fbfbf9;
$color-white: #ffffff;
$color-fog-light: #f4f4f4;
$color-digital-blue: #006CB8;
$color-digital-blue-dark: #00548f;