// Extracted from:
//   https://github.com/sul-dlss/sul_styles/blob/master/app/assets/stylesheets/sul-styles/su_web_colors.scss
//   https://github.com/sul-dlss/sul_styles/blob/master/app/assets/stylesheets/sul-styles/su_primary_colors.scss
$color-cardinal-red: #8c1515;
$color-dark-red: #820000;
$color-gray: #3f3c30;
// $color-black: #000;
// $color-beige-40: #d5d0c0;
$color-beige-30: #e3dfd5;
$color-beige-10: #f2f1eb;
$color-beige-05: #fbfbf9;
// $color-pantone-401: #b6b1a9;
