$sul-footer-height: 80px;

#su-content {
  padding-bottom: 6rem;
}

#sul-footer-container {
  background-color: $sul-footer-bg-color;
  box-shadow: inset 0 4px 8px -8px $sul-shadow-color;
  clear: both;
  padding: 0;
  position: relative;
}

#sul-footer {
  display: table;
  height: $sul-footer-height;
  padding: 0;
}

#sul-footer-img {
	display: table-cell;
	vertical-align: middle;
	width: 162px;
}

#sul-footer-links {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	padding-left: 15px;
	font-size: small;

  a {
    color: $color-digital-blue;
  }
}

#sul-footer {
  display: table;
  height: $sul-footer-height;
  padding: 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      margin: 0 13px 3px 0;
      padding: 0;
      a {
        white-space: nowrap;
      }
    }
  }
  #sul-footer-img {
    display: table-cell;
    vertical-align: middle;
    width: 162px;
  }
  #sul-footer-links {
    display: table-cell;
    font-size: small;
    padding-left: 15px;
    text-align: left;
    vertical-align: middle;

    @include media-breakpoint-up(xl) {
      padding-left: 2.8125rem;
    }
  }
}

.global-footer {
  background-color: $brand-primary;
  color: $color-white;

  a {
    color: $color-white;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    padding-inline-start: 0;
    list-style: none;

    @include media-breakpoint-up(lg) {
      justify-content: flex-start !important;
    }
  }

  li a {
    @include media-breakpoint-up(md) {
      font-weight: 500;
    }

    @include media-breakpoint-up(lg) {
      font-size: 1.0625rem;
    }
  }

  .policy-links li a {
    @include media-breakpoint-up(md) {
      font-size: 0.875rem;
      font-weight: 300;
    }

    @include media-breakpoint-up(lg) {
      font-size: 0.9375rem;
    }
  }

  .copyright {
    font-size: 0.85rem;
    font-weight: 300;

    @include media-breakpoint-up(sm) {
      font-size: 0.875rem;
      font-weight: 300;
    }

    @include media-breakpoint-up(lg) {
      text-align: left !important;
    }
  }
}