@mixin brandbar-vertical-align($element-height) {
  margin-top: (($brandbar-height - $element-height) / 2);
  margin-bottom: (($brandbar-height - $element-height) / 2);
}

#top-nav-bar {
  height: $top-nav-bar-height;

  ul {
    float: right;
    height: $top-nav-bar-height;
    margin: 0;
    padding: 0;
  }

  li {
    display: table-cell;
    height: $top-nav-bar-height;
    vertical-align: middle;
  }
}

#topnav-container {
  height: $brandbar-height;

  .navbar-brand {
    @extend .text-hide;

    height: $brandbar-height;
    margin-left: 0;
    padding: 0;
    width: 297px;


    img {
      height: $brandbar-height;
    }
  }

  .navbar-collapse {
    background-color: $navbar-default-bg;
    a {
      color: lighten($gray-base, 86%);;
    }
  }

  .navbar-nav {
  }

  .navbar-form {
  }

  .navbar-btn {
  }

  .navbar-text {
  }
}
