#top-nav-bar {
  height: $top-nav-bar-height;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    align-items: center;
    display: flex;
    height: $top-nav-bar-height;
  }

  a {
    padding: 3px;
    border-bottom: 3px solid transparent;
    &:hover {
      text-decoration: none;
      border-bottom: 3px solid $brand-primary;
    }
  }
}

#topnav-container {
  background-color: $brand-primary;
  height: $brandbar-height;
  
  .row {
    width: 100%;
  }

  @include media-breakpoint-down(xs) { 
    height: $brandbar-collapsed-height;
  }

  .navbar-brand {
    @extend .text-hide;

    height: $brandbar-height;
    margin-left: 0;
    padding: 0;

    @include media-breakpoint-down(xs) { 
      height: $brandbar-collapsed-height;
    }

    img {
      height: $brandbar-height;

      @include media-breakpoint-down(xs) { 
        height: $brandbar-collapsed-height;
      }
    }

    @include media-breakpoint-down(xs) { 
      margin-left: 15px;
    }
  }

  .navbar-collapse {
    background-color: $brand-primary;
    z-index: $zindex-dropdown;

    a {
      color: lighten($gray-base, 86%);;
    }
  }

  .navbar-nav {
    @include media-breakpoint-up(lg) {
      > li {
        > a {
          padding-bottom: $brandbar-padding-vertical;
          padding-top: $brandbar-padding-vertical;
        }
      }
    }

    .nav-item {
      padding: $spacer * 0.5;
    }
  }
}
