/* 1rem = 16px in BS4. .94 approximates the previous font size which was specified as 15px */
:root {
  --bs-body-font-size: 0.94rem;

  --bs-body-line-height: 1.5;

  --bs-global-alert-color: rgb(204, 0, 0);
}
