<h1>New Spreadsheet</h1>

<p>This form lets you upload a CSV (Comma-Separated-Value) file from your local computer that contains information about library hours. The file should have been created using the Export CSV command in this application and then edited by staff responsible for providing hours information for a particular library. Once you upload the file, you'll see a screen that will let you run some general tests to make sure the file is in the proper format. If the file passes the tests, you'll then be able to save the information in the hours database.</p>

<p>Click on the "Choose File" button to choose the file, then click "Upload" to upload it.</p>

<%= render 'form' %>

<%= link_to 'Back', spreadsheets_path %>
