<% title "Edit #{@location.library.name} - #{@location.name}" %>
<% breadcrumb @location %>

<h1>Editing Location</h1>

<%= render 'form' %>

<%= link_to 'Show', [@location.library, @location] %> |
<%= link_to 'Back', @location.library %>
