<table class="table term-hours">
  <thead>
    <tr>
      <th class="location-name"><span class='sr-only'>Location</span></th>
      <th class="hours">Su</th>
      <th class="hours">M</th>
      <th class="hours">Tu</th>
      <th class="hours">W</th>
      <th class="hours">Th</th>
      <th class="hours">F</th>
      <th class="hours">Sa</th>
    </tr>
  </thead>
  <tbody>
    <% locations.with_hours.each do |l| %>
      <% term_hour = l.term_hours.where(term: term).first || l.term_hours.build(term: term) %>
      <tr>
        <td class="location-name"><%= link_to l.name, library_location_path(l.library, l) %></td>

        <% [:sunday, :monday, :tuesday, :wednesday, :thursday, :friday, :saturday].each do |day_of_week| %>
          <td class="hours" itemprop="openingHoursSpecification" itemscope itemtype="http://schema.org/OpeningHoursSpecification">
            <span itemprop="validFrom" content="<%= l term_hour.term.dtstart %>" aria-hidden="true"></span>
            <span itemprop="validThrough" content="<%= l term_hour.term.dtend %>" aria-hidden="true"></span>
            <%= render 'time', term_hour: term_hour, day_of_week: day_of_week %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
